# emacs file
*~

# intelliJ files
.idea/
aula-01/java/.idea/


# java compiled file
*.class

# node files
*/js/node_modules/
*/js/package-lock.json

# jsdoc files
aula-01/js/out/


#mvn files
*target/

# iml files
*.iml
