# emacs file
*~

# intelliJ files
.idea/
aula-01/java/.idea/


# java compiled file
*.class

# node files
aula07/vetor/js/node_modules/
aula07/vetor/js/package-lock.json
aula07/vetor/js/coverage/

# jsdoc files
aula-01/js/out/

# jstest coverage
*/js/coverage/

#mvn files
*target/

# iml files
*.iml
