# emacs file
*~

# intelliJ files
.idea/
*.iml

# java compiled file
*.class

# node files
node_modules/
package-lock.json

# jsdoc files
aula-01/js/out/

# jstest coverage
coverage/

#mvn files
*target/
